<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include navigation-minimal.html %}
    <section class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {{ page.content | markdownify }}

            <ul class="blogs">
             {% for blog in site.blog %}
               <li><i class="fa fa-book"></i> {{ blog.date | date_to_string }} <i class="fa fa-angle-double-right"></i> <a href="{{ blog.url }}">&nbsp;{{ blog.title }}</a></li>
             {% endfor %}
            </ul>
          </div>
        </div>
   </section>

  {% include footer.html %}
  {% include js.html %}

  </body>
</html>
